.Buy-Container{
    
    /* margin: 30px; */
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    /* flex-direction: column; */
    background: rgba(255, 255, 255, 0.3);
  
}

.info{
    /* max-width: 450px; */
    /* min-width: 300px; */
    width: 80%;
    max-width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Dashboard
{
    /* max-width: 450px; */
    /* min-width: 300px; */
}



/* stock css  */

.stock_wrapper {
    background-color: aquamarine;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#stock {
    background-color: blue;
    font-size: 5rem;
    padding: 10rem;
}