body {
    background-color: #161622;
    color: #fff;
    font-family: Arial, sans-serif;
    margin-top: 0;
    padding-top:0 ;
  }
  
  .page-container {
    max-width: 550px;
    margin: 0 auto;
    /* padding: 1rem; */
  }
  
  .top-section {
    width: 100%;
    height: 40vh;
    position: relative;
    margin-top: 0;
  }
  
  .top-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 0 40px 40px;
    -webkit-border-radius: 0 0 40px 40px;
    -moz-border-radius: 0 0 40px 40px;
    -ms-border-radius: 0 0 40px 40px;
    -o-border-radius: 0 0 40px 40px;
    border : 8px groove #07270c;
}
  
  
  .title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .Buy-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
    background-color: #161622;
    margin-top: 2vh;
  }
  
  .Dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10vh;
  }
  
  .shares {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  .RemainingShares {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 150px;
    border-radius: 0 25px 0 25px;
    background-color: #ccc;
    color: #333333;
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
    border : 8px double #07270c;
    -webkit-border-radius: 0 25px 0 25px;
    -moz-border-radius: 0 25px 0 25px;
    -ms-border-radius: 0 25px 0 25px;
    -o-border-radius: 0 25px 0 25px;
}
  
  .RemainingShares-heading {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
    color: #333333;
  }
  
  .RemainingShares-number {
    font-size: 4rem;
  }
  
  .buy {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 4vh;
  }
  
  .buy-input {
    margin:1vh;
  }
  
  .buy-input input {
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    outline: none;
  }

  .buy-button{
    margin: 1 vh;
  }
  .buy-button button {
    padding: 0.5rem 1rem;
    font-size: 2.4rem;
    background-color: #ccc;
    color: #333333;
    border-radius: 5px;
    border: none;
    border : 2px ridge #cbe3cf;
    cursor: pointer;
  
  }
  
  @media (max-width: 480px) {
    .buy-button button {
      padding: 0.5rem;
      font-size: 1rem;
    }
  }
  