.CartItemCard {
    display: flex;
    padding: 1vmax;
    height: 8vmax;
    align-items: center;
    box-sizing: border-box;
    color: var(--slate);
}

.CartItemCard > img {
    width: 5vmax;
}
.CartItemCard > div {
  display: flex;
  margin: 0.3vmax 1vmax;
  flex-direction: column;
}

.CartItemCard > div > a {
  font: 300 0.9vmax cursive;
  color: var(--slate);
  text-decoration: none;
}

.CartItemCard > div > span {
  font: 300 0.9vmax "Roboto";
  color: var(--slate);
}

.CartItemCard > div > p {
  color: tomato;
  font: 100 0.8vmax "Roboto";
  cursor: pointer;
}  

@media screen and (max-width: 600px) {
  /* .CartItemCard > img {
    display: none;
  } */

  .CartItemCard {
    padding: 0vmax 0.5rem;
    height: 25vmax;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .CartItemCard > img {
    width: 10vmax;
  }

  .CartItemCard > div {
    margin: 0;
  }

  .CartItemCard > div > a {
    font: 200 2vmax cursive;
  }
}