.portfolio-container
{
    display: flex;
    background-color: rgb(22, 22, 35);
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
  
    gap:20px;
}

.card-div
{
    display: flex;
    max-width: 80%;
    justify-content: center;
    align-items: center;
    
    margin-top: 2vh;
  
}