:root {
  --pink: #f57dff;    
  --blue: #57cbff;
  --green-tint: rgba(100,255,218,0.1);
  --dark-navy: #020c1b;
  --navy: #0a192f;
  --light-navy: #112240;
  --navy-shadow: rgba(2,12,27,0.7);
  --dull: rgba(2 ,29, 22 ,0.5);
  --lightest-navy: #233554;
  --navy-shadow: rgba(2,12,27,0.7);
  --dark-slate: #495670;
  --slate: #8892b0;
  --light-slate: #a8b2d1;
  --lightest-slate: #ccd6f6;
  --white: #e6f1ff;
  --green: #64ffda;
  --slate: #8892b0;
  --navy: #0a192f;
  --dull-white : #f0dfdfeb;

  /* font size  */
  --fz-xs: 13px;
  --fz-xxs: 12px;
  --fz-md : 14px;
  --fz-xl : 20px;
  --fz-l : 16px;

  /* font family  */
  --font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
  --font-jack: "font-file-82132";
  --font-mark: "Mark Pro,sans-serif";
  --font-sans: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
  --font-poppins: 'Poppins', sans-serif;


  /* This website variables */


  
--dark-purple : #1F1B32;
--black : rgb(11, 10, 16);
--light-purple : #5953B4;
--dark-navy : #1A2846;
--blure-dark : #0A1045;
--white : #F9F8F7;
--light-blue : #54AED7;
--rich-black : #011627;
--dark-purple : #1C0118;
--light-green : #6BD425;
--slate: #8892b0;
--white-green: #64ffda;
--hover-blue : #344d6c;
--star : 	#ffe234;


/* font family  */
--font-mono: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
--font-jack: "font-file-82132";
--font-mark: "Mark Pro,sans-serif";
--font-sans: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
--font-roboto: 'Roboto', sans-serif;
--font-poppins: 'Poppins', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
